@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:wght@600&display=swap');
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.footer-empty-div {
  height: 250px;
}

.footer-container-fluid {
  background-color: black;
}

.footer-container {
  color: white;
  padding-top: 30px;
  text-align: center;
}

.footer-column {
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer-logo {
  max-height: 80px;
  max-width: 100%;
}

.footer-social-icon-text {
  margin-left: 15px;
}

.footer-social-icon {
  width: 28px;
}

.footer-social-icons-row {
  column-gap: 10px;
  margin: inherit;
}

.bounce-out-on-hover {
  box-shadow: 0 0 0 black;
  display: inline-block;
  padding: 2px;
  transform: perspective(1px) translateZ(0);
  transition-duration: .5s;
  vertical-align: middle;
}

.bounce-out-on-hover:hover,
.bounce-out-on-hover:focus,
.bounce-out-on-hover:active {
  transform: scale(.8);
  transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36);
  z-index: 1;
}



.bounce-out-on-hover::before,
.bounce-out-on-hover::after {
  --scale: 0;
  left: 55%;
  position: absolute;
  top: 230%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transform-origin: center;
  transition: 150ms transform;
}

.bounce-out-on-hover::before {
  background: black;
  border-radius: .3rem;
  color: white;
  content: attr(data-tooltip);
  padding: .5rem;
  text-align: center;
  width: fit-content;
}

.bounce-out-on-hover:hover::before,
.bounce-out-on-hover::after {
  --scale: 1;
}

.bounce-out-on-hover::after {
  content: '';
  width: 10px;
}
.gradient {
  background: linear-gradient(354deg, rgba(8,8,12,1) 0%, rgba(40,40,61,1) 100%);
  background: rgb(8,8,12);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
